#cartContainer{
  margin-top: 3rem;
  margin-inline: 20%;
  border: 2px solid #000000;
border-radius: 8px;
}

.cartItem{
  display: flex;
    padding: 3%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1.2rem;
    border-bottom: 2px solid #000000;
    justify-content: space-between;
}

.cartItemImgWrapper{
  width: 250px;
    height: 130px;
    clip-path: inset(0);
}

.cartItem img{
  width: 100%;
  height: auto;
}

.cartItem button{
    background-color: #bdbdbd39;
}
.cartItem button :hover{
  background-color: #e02b2ba7;
}

#cartItemHeader{}

#cartItemInfo{}

.cartFoot{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cartFoot button:hover{
  background-color:#e02b2ba7 ;
}