.formInputContainer{
    margin-inline: 25%;
    margin-block: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #efefef;
    border-radius: 8px;
    box-shadow: 1px 5px 9px 0px rgba(0,0,0,0.56);
-webkit-box-shadow: 1px 5px 9px 0px rgba(0,0,0,0.56);
-moz-box-shadow: 1px 5px 9px 0px rgba(0,0,0,0.56);
}

.formInputContainer form{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    margin-right: 15%;
    align-items: flex-end;
}


.formInputs{
    display: flex;
    align-items: flex-start;
    justify-content:flex-end;
    gap: 16px;
}



.textInputsWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;

}

.formInputs p{
    padding-left: 4px;
    font-weight: 200;
}

.formInputs input{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-style: none;
    padding: 0.5rem;
    width: 13vw;
}

.formInputContainer img{
    width: 100%;
    height: auto;
}

.formInputContainer h2{
    text-align: center;
    font-size: 1.5rem;
}



.formInputContainer span{
    font-size: smaller;
    color: rgb(226, 18, 18);
}

.formInputContainer button:hover{
    background-color: #f2d13b;
}

#contendorImagenCheckout{
    overflow: hidden;
}