.shopItem{
    background-color: #e4e4e4;
    padding: 8px;
    border-radius: 8px;
    margin: 1vw;
    margin-block: 0.5rem;
    max-width: 25%;
  }

  .itemHeading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .itemHeading h3{
    margin: 0;
    padding: 0;
  }
  .itemHeading p{
    margin: 0;
    padding: 0;
  }

  .itemData{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .itemData h4{
    color: brown;
  }

.imgPrincipal{
    border-radius: 8px;
    width: 100%;
    height: auto;
}
.imgSecundaria{
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: space-around;
    gap: 0.5rem;
    margin-block: 0.5rem;
}

.imgSecundaria img{
    border-radius: 4px;
    width: 10em;
    height: 9em;
    object-fit: cover;
}